<label for="serverName">Server Name:</label>
<!-- <input type="text" (input)="onUpdateServerName($event)"/> -->
<input type="text" class="form-control" [(ngModel)]="serverName"/>
<!-- <h6>The Server Name is : {{serverName}}</h6> -->
<!-- <p>Server with ID {{ serverId }}.The server Status is {{serverStatus}} </p>
<span>GetServerStatus Method: {{getServerStatus()}} </span>-->
<button class="btn btn-danger" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!--<p [innerText]="allowNewServer"></p> -->
<button class="btn btn-primary" [disabled]="serverName===''" (click)="serverName=''">Reset Server Name</button>
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated && serverName!=='';else noServer">Server was created, server name is {{serverName}}</p>
<ng-template #noServer>
  <p>No Server was created</p>
</ng-template>
